export AUTOFEATURE=true autospec
export RUBYOPT="rubygems"
export ARCHFLAGS="-arch x86_64"

export GOROOT="/usr/local/go/"
export GOPATH="$HOME/go"

export clients='/Users/dylan/Business/SCNM/Clients'
export dev='/Users/dylan/Development'
export devwork='/Users/dylan/Development/Work'
export st='/Users/dylan/Development/Work/surftourist/surftourist'

for DIR in `ls -l $devwork | awk '/^d/ { print $NF }'`
do
  export $DIR=$devwork/$DIR
done
